<h1><%= @user.username %>'s Page</h1>

<p>Owned games:</p>
<ul>
  <% @user.games.each do |game| %>
    <li>Title: <%= game.name %><%= link_to "Show", game_path  %>
<br>Description: <%= game.description %> </li>
  <% end %>
</ul>

<p>Reviews by this user:</p>
<ul>
  <% @user.reviews.each do |review| %>
    <li>Title: <%= review.title  %><br><%= review.body %>  </li>
  <% end %>
</ul>
<%= link_to "See all friends", user_friends_path(@user.id) %>

<% end -%>
