<h1>Games</h1>
  <% unless logged_in? %>
    <%= link_to "Sign Up", new_user_path %> or <%= link_to "Log in", login_path %> to add games
  <% end %>

<!--   Sort by: Newest, Most Owned, Highest Rated
 -->
    <h2>Sort By: <%= link_to("Newest", games_newest_path) %>, <%= link_to("Most Owned", games_most_owned_path) %>, <%= link_to("Highest Rated", games_highest_rated_path) %></h2>
<ul>
  <% @games.each do |game|  %>
    <li><%= link_to game.name, game_path(game)  %>
    <% if logged_in? %>
      <% if is_owned?(current_user, game) %>
        <%= link_to("Remove", ownership_path(Ownership.where(game: game, owner: current_user)[0]), method: :delete) %></li>
      <% else %>
        <%= link_to("Add", ownerships_path(current_user: current_user.id, game: game.id), method: :post) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= will_paginate @games %>
