<h1>Games</h1>
  <% unless logged_in? %>
  <%= link_to "Sign Up", new_user_path %> or <%= link_to "Log in", login_path %> to add games
  <% end %>
<ul>
  <% @games.each do |game|  %>
    <li><%= link_to game.name, game_path(game)  %>
    <% if logged_in? %>
      <% if is_owned?(game) %>
        <%= link_to("Add", ownerships_path(current_user: current_user.id, game: game.id), method: :post) %></li>
      <% else %>
        remove
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= will_paginate @games %>
