<h1>Games Owned By The Most People</h1>
  <% unless logged_in? %>
    <%= link_to "Sign Up", new_user_path %> or <%= link_to "Log in", login_path %> to add games
  <% end %>
  <h2>Sort By: <%= link_to("Newest", games_newest_path) %>, <%= link_to("Highest Rated", games_highest_rated_path) %></h2>
<ul>
  <% @games.each do |game|  %>
    <li><%= link_to game.name, game_path(game)  %>
    <% if logged_in? %>
      <% unless is_owned?(current_user, game) %>
        <%= link_to("Add", ownerships_path(current_user: current_user.id, game: game.id), method: :post) %></li>
      <% else %>
        remove
      <% end %>
    <% end %>
  <% end %>
</ul>
