<h1><%= @game.name %></h1>
<br>
<img src="<%= @game.image_url %> " />
<br>
<h2>Description:</h2>
<p><%= @game.description %> </p>
<p>Min players: <%= @game.min_players  %> </p>
<p>Max players: <%= @game.max_players  %> </p>
<p>Game added: <%= @game.created_at.strftime('%v')  %> </p>

<h1>Average Score: <%= @game.average %></h1>

<% if logged_in? %>
<%= link_to "Write a review", new_game_review_path(params[:id]) %>
<% end %>


<h1>Game Reviews</h1>
<ul>
  <% @game.reviews.each do |review|  %>
    <li><%= review.title %><br>
    Reviewed by: <%= review.reviewer.username %>
    <% if review.reviewer.ownerships.where(game_id: @game.id).length > 0 %>
    <img src="/images/gold_star.png"></img>
    <% end %><br>
    Score: <%= review.score %><br>
    <%= review.body %><br>
    </li><br>
    <% end %>
</ul>
